@model List<OfferViewModel>
<a class="btn btn-primary" asp-controller="Offers" asp-action="Add">Add new offer</a>

@foreach (var offer in Model)
       {
<div class="card">
    <p>@offer.Description</p>
    <p>@offer.City</p>
    <p>@offer.LowerPrice</p>
    <p>@offer.UpperPrice</p>
    <p>@offer.Specialization</p>
    <p>@offer.Tittle</p>
    <img src="@offer.Photo"/>
    <a class="btn btn-secondary" asp-controller="Offers" asp-action="Edit" asp-route-id="@offer.Id" >Edycja</a>
    <form method="post" asp-action="Delete" asp-controller="Offers">
        <input name="Id" value="@offer.Id" hidden="hidden" />
        <button type="submit" class="btn btn-danger">Usuń</button>
    </form>
</div>
       }
